MONGO_URI=mongodb+srv://username:password@example.mongodb.net/ambisense
PORT=1234
JWT_SECRET=remplacez-par-une-longue-valeur-aleatoire
REMOTE_ACCESS=http://adresse-ip-du-telephone:8080
API_KEY=cle-api-generee-par-post-devices
